{% extends "index/index.html" %}

{% block content %}
<section>
    <div class="container-fluid row mx-auto p-5" style="width: max-content;">
        <div class="container-fluig row mx-auto p-5">
            <div class="col-sm-6 col-lg-8 border p-2" style="height:max-content;">
                <div class="jumbotron" style="min-width: max-content;">
                    <div class="container-fluid mx-auto px-auto" style="width:max-content;">
                        <h1 class="display-5 text-justify text-center">{{ information.nome_unidade }}</h1>
                    </div>
                    <hr class="my-4">
                    <div class="m-auto p-auto">
                        <form id="form_Cadastro" class="needs-validation" novalidate
                            action="{% url 'alterar_unidade' information.id %}" method="POST">
                            {% csrf_token %}
                            <div class="fieldWrapper">
                                <label>Cursos atualmente cadastrado</label>
                                <ul>
                                    {% for curso in lista_cursos %}
                                    <li>{{curso.nome_curso}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="fieldWrapper">
                                <label>Selecione os cursos obrigatórios</label>
                                {{ form_cadastro_unidade.cursos_necesarios }}
                            </div>
                            <hr class="my-4">
                            <div class="container mx-auto">
                                <div class="container-fluig row">
                                    <div class="col-md-2 mx-2">
                                        <a href="{% url 'cadastro_unidade' %}" class="btn btn-primary">Voltar</a>
                                    </div>
                                    <div class="col-md-2 mx-2">
                                        <button type="submit" class="btn btn-warning">Alterar</button>
                                    </div>
                                    <div class="col-md-2 mx-2">
                                        <a href="{% url 'deletar_unidade' information.id %}"
                                            class="btn btn-danger">Deletar</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 border p-2 overflow-auto" style="height:max-content;">
                <div style="min-height: min-content; max-height: 650px;">
                    <div class="jumbotron">
                        <h4 class="display-5">Equipes programadas</h4>
                        <div class="mx-auto px-2">
                            <a href="{% url 'programar_frente' %}" class="btn btn-outline-primary">Nova Programação</a>
                        </div>
                        <hr class="my-4">
                        {% for frente in lista_frentes_programadas %}
                        <div class="list-group py-2 ">
                            <a href="{% url 'visualizar_programacao' frente.id %}"
                                class="list-group-item list-group-item-action list-group-item-primary">{{frente}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}