{% extends "index/index.html" %}

{% block content %}
<section>
    <div class="container-fluid row mx-auto p-5" style="width: max-content;">
        <div class="jumbotron" style="min-width: max-content;">
            <div class="container-fluid mx-auto px-auto" style="width:max-content;">
                <h1 class="display-5">{{ information.nome_unidade }}</h1>
            </div>
            <hr class="my-4">
            <div class="m-auto p-auto">
                <form id="form_Cadastro" class="needs-validation" novalidate action="{% url 'alterar_unidade' information.id %}"
                    method="POST">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        <label>Cursos atualmente cadastrado</label>
                        <ul>
                            {% for curso in lista_cursos %}
                            <li>{{curso.nome_curso}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="fieldWrapper">
                        <label>Selecione os cursos obrigatórios</label>
                        {{ form_cadastro_unidade.cursos_necesarios }}
                    </div>
                    <hr class="my-4">
                    <div class="container mx-auto">
                        <div class="container-fluig row">
                            <div class="col-md-2 mx-2">
                                <a href="{% url 'cadastro_unidade' %}" class="btn btn-primary">Voltar</a>
                            </div>
                            <div class="col-md-2 mx-2">
                                <button type="submit" class="btn btn-warning">Alterar</button>
                                <!--<a href="{% url 'alterar_unidade' information.id %}" class="btn btn-primary">Alterar</a>-->
                            </div>
                            <div class="col-md-2 mx-2">
                                <!-- Aqui deve entrar a função deletar -->
                                <a href="{% url 'deletar_unidade' information.id %}" class="btn btn-danger">Deletar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}